	<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.w3.org/1000/xhtml">
<head>
<title>Buy&Sell</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/css.css">
    <link rel="stylesheet" href="/css/shop.css">
</head>
<body>
	<div>
		<div th:replace="common/header :: navbar" />
		
		  <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">About</strong></div>
        </div>
      </div>
    </div> 
    <div class="site-section border-bottom" >
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="image/w1.png" alt="Image placeholder" class="img-fluid ">
              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            
            
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">How We Started</h2>
            </div>
            <p>A lot of products are stored in the warehouses right now with no customers to use that product. This is a loss-loss to both vendors who want to sell the products and customers who want to buy the given products. Our goal with ‘Buy and Sell Anything’ is an online platform where users can easily find and order any product listed by other vendors. This is a point of contact between a customer and a vendor. It enables potential customers to browse, select and purchase the needed products listed by vendors.

            </p>
            
          </div>
        </div>
      </div>
    </div>
  
		
		<div th:replace="common/header :: body-bottom-scripts" />
	</div>
</body>
</html>