body {
    line-height: 1.7;
    color: #8c92a0;
    font-weight: 300;
    font-size: 16px;
}

.text-black {
    color: #000;
}

.btn {
    text-transform: uppercase;
    position: relative;
    -webkit-transition: 0.2s all ease-in-out !important;
    -o-transition: 0.2s all ease-in-out !important;
    transition: 0.2s all ease-in-out !important;
    top: 0;
    letter-spacing: .05em;
}
.btn.btn-sm {
    font-size: 14px !important;
    padding: 10px 20px !important;
}
.btn.btn-secondary {
    background-color: #e6e7e9;
    border-color: #e6e7e9;
    color: #000;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}


.block-4 {
    -webkit-box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
    background: #fff;
}
.block-4 .block-4-text h3 {
    font-size: 20px;
    margin-bottom: 0;
}
.block-4 .block-4-text h3 a {
    text-decoration: none;
}
/* page */
.site-block-27 ul, .site-block-27 ul li {
    padding: 0;
    margin: 0;
}
.site-block-27 ul li {
    display: inline-block;
    margin-bottom: 4px;
}
.site-block-27 ul, .site-block-27 ul li {
    padding: 0;
    margin: 0;
}
.site-block-27 ul li a, .site-block-27 ul li span {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
